<!-- Even though this page looks pretty much similiar to EditProductPage, it still makes sense
     to divide them (in case if one of the page functional will be changed + to avoid potential confusion -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    
    <!-- include block of code with Jquery and bootstrap -->
    <th:block th:replace="~{contenttoloadoneachpage/frameworksLinks :: stylingAndJsData}"></th:block>
</head>
<body>
<form th:method="POST">
    <div class="form-group">
        <!-- Product name input -->
        <label for="productName">Product Name:</label>
        <input id="productName" type="text" name="productName" placeholder="Name of the product" maxlength="100"
               class="form-control">
        <label for="productName" class="errorMessage" id="productNameError" style="display: none"></label>
        
        <!-- Product price input -->
        <label for="productPrice">Price:</label>
        <input id="productPrice" type="number" name="productPrice" placeholder="Product price:" class="form-control">
        <label for="productPrice" class="errorMessage" id="productPriceError" style="display: none"></label>
        
        <!-- product type select -->
        <label for="productType">Product Type:</label>
        <select name="productType" id="productType" class="form-select">
            <!-- add potential options -->
             <option th:each="label : ${ProductVariations}" th:value="${label}" th:text="${label}"></option>
        </select>
    </div>
    
    <!-- Edit button -->
    <button id="createButton" type="submit" class="btn btn-primary active" >Create Product</button>
    
    
    <!-- External js that calls POST method in controller -->
    <script th:src="@{/JSScripts/AddRecord.js}" defer></script>
</form>

</body>
</html>