<!-- page for editing products -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
    <!-- Dynamic title that depends on the product name -->
<!--    <title> Edit Product</title>-->
    <title th:text="Edit + ' ' + ${ProductToEdit.getName()}"> </title>
    <!-- include block of code with Jquery and bootstrap -->
    <th:block th:replace="~{contenttoloadoneachpage/frameworksLinks :: stylingAndJsData}"></th:block>
    <!-- External js that calls PATCH method in controller -->
    <script th:src="@{/JSScripts/EditPageScripts.js}" defer></script>
</head>
<body>
  <form th:method="PATCH" id="editForm">
      <div class="form-group">
          <!-- Product name input -->
        <label for="productName">Product Name:</label>
        <input id="productName" type="text" name="productName" placeholder="Name of the product" maxlength="100"
               class="form-control" th:value="${ProductToEdit.getName()}">
          <label for="productName" class="errorMessage" id="productNameError" style="display: none"></label>
      
          <!-- Product price input -->
        <label for="productPrice">Price:</label>
        <input id="productPrice" type="number" name="productPrice" placeholder="Product price:" th:value="${ProductToEdit.getPrice()}" class="form-control">
          <label for="productPrice" class="errorMessage" id="productPriceError" style="display: none"></label>
      
          <!-- product type select -->
       <label for="productType">Product Type:</label>
       <select name="productType" id="productType" class="form-select">
          <option th:each="label : ${ProductTypes}" th:value="${label}" th:text="${label}"></option>
       </select>
      </div>
      
      <!-- Edit button -->
      <button id="editButton" type="submit" class="btn btn-primary active">Edit</button>
      
      <!-- getting value from id-->
      <script th:inline="javascript" defer>
          //getting the product id and storing it in the variable (to use it as the parameter for edit function
          const productId = [[${ProductToEdit.getId()}]];
          const productClass = [[${ProductToEdit.getClassName()}]]
          
          //Setting the default select value (which is equal to product type)
          $(function () {
              $("productType").val([[${ProductToEdit.getType()}]]);
          })
      </script>
      
  </form>
</body>
</html>