<!-- page for editing products -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit:</title>
</head>
<body>
  <form>
        <label for="productName">Product Name:</label>
        <input id="productName" type="text" name="productName" placeholder="Name of the product">
      
      
        <label for="productPrice">Price:</label>
      <input id="productPrice" type="number" name="productPrice" placeholder="Product price:">
      
      <label for="productType">Product Type:</label>
      <select name="productType" id="productType" multiple>
        <!-- add Options dynamically -->
      </select>
  </form>
</body>
</html>