<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products Table</title>
    <!-- include block of code with Jquery and bootstrap -->
    <th:block th:replace="~{contenttoloadoneachpage/frameworksLinks :: stylingAndJsData}"></th:block>
</head>
<body>
    <h1>Чаи</h1>
    <a class="btn btn-primary active" th:href="@{AddProduct}">Add</a>
    
    <!-- table with products -->
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <td>Product Name:</td>
                <td>Price:</td>
                <td>Product Type: </td>
            </tr>
        </thead>
        
        
    <!-- at this point Thymeleaf does not know what TeaProduct is, it just expecting from us to pass the object with this name !!! TeaProducts is
     the attribute that we added to the model in the controller-->
    <!-- Basically its like: "for(String s : collectionName){}" in Java -->
        <tbody>
            <tr th:each="Product: ${ProductsList}">
                <td th:text="${Product.getName()}" id="productNameData">Tea Name</td>
                <td th:text="${Product.getPrice()}">Цена</td>
                <td th:text="${Product.getType().getLabel()}">Тип</td>
                <td><a th:href="@{EditProductPage/{name}(name=${Product.getName()})}">Edit</a></td>
                <td>
                    
                    <!-- Delete button -->
                    <button id="deleteButton"
                            type="submit"
                            class="btn btn-primary active"
                            th:attr="onclick=| deleteRecord('${ProductClass}' ,'${Product.getName()}')|">Delete</button>
                    <script th:src="@{/JSScripts/DeleteRecord.js}" defer></script>
                </td>
                <td></td>
            </tr>
        </tbody>
</table>
</body>
</html>